@import "compass/reset";
@import "compass";
@import "clearfix";
@import "mixins";
@import "navstyles";

$mainColor : hsl(208, 80, 21);
$buttonTop: hsl(207, 22, 67);
$shadowColor: rgba(0, 0, 0, .4);
$buttonColor: #5c687c;
$sideColor: #b7c4cf;
$sideColorTop: #d3d6da;

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}