/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

.mainButton
{
	width: 27%;
	border: 2px solid $mainColor;
	@include box-shadow($shadowColor 2px 2px 5px);
	background-color: $mainColor; // Old browsers
	@include filter-gradient($buttonTop, $mainColor, vertical); // IE6-9
	@include background-image(linear-gradient(top, $buttonTop 0%,  desaturate(lighten($mainColor, 38%) ,60%) 15%,
		desaturate(lighten($mainColor, 15%) ,20%) 50%,$mainColor 100%));

	p, span
	{
		float: left;
		font-family: Arial;
		font-size: 1.5em;
		color: white;
		padding-top: .5em;
		margin-left: .5em;
		padding-bottom: .5em;
	}

	span
	{
		float: right;
		margin-right: .5em;
	}

}

.button
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	@include button($buttonColor);
	color: white;
	font-size: 1.5em;
	font-family: Arial;
	padding: .5em;

	p
	{
		text-align: center;
	}
}

.sideBox
{
	width: 27%;
	border: 2px solid $mainColor;
	@include box-shadow($shadowColor 2px 2px 5px);
	background-color: rgb(210,213,217); // Old browsers
	@include filter-gradient(#d2d5d9, #d2d5d9, vertical); // IE6-9
	@include background-image(linear-gradient(top, rgba(210,213,217,1) 0%,rgba(210,218,224,1) 51%,rgba(210,213,217,1) 100%));
	
	.button
	{
		margin-top: 1em;
		margin-bottom: 1em;
	}
}