/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "base";

body
{
	width: 100%;
	text-align: center;
	background-color: $mainColor;
}

#logo
{
	width: 100%;
}

header
{
	width: 100%;
	padding: .4em;
	border-bottom: 20px solid $mainColor;
	margin-bottom: 1em;
	@include box-sizing(border-box);
	background-color: white;
}

footer
{
	width: 100%;
	color: $footerTextColor;
	background-color: $mainColor;
	#socialLinksBottom
	{
		width: 100%;
		li
		{
			display: inline-block;
			a
			{
				text-decoration: none;
				color: $footerTextColor;
			}
			#facebookBottom
			{
				color: $footerTextColor;
			}
			#inBottom
			{
				color: $footerTextColor;
			}
			#blogBottom
			{
				color: $footerTextColor;
			}
			#twitterBottom
			{
				color: $footerTextColor;
			}
		}
	}
}

#headContainer
{
	width: 100%;
}

#mainImage
{
	width: 90%;
	margin: 0 auto;
	img
	{
		max-width: 100%;
	}
}

#socialLinks
{
	width: 100%;
	text-align:center;
	li
	{
		display: inline-block;
		a
		{
			font-size: 2.0em;
			text-decoration: none;
		}
		#facebook
		{
			color: #395499;
		}
		#in
		{
			color: #0f649c;
		}
		#blog
		{
			color: #f58000;
		}
		#twitter
		{
			color: #48c8f6;
		}
	}
}

#mainContent
{
	padding-top: 1em;
	padding-bottom: .5em;
	background-color: $mainContentColorBottom; // Old browsers
	@include filter-gradient($mainContentColorTop, $mainContentColorBottom, vertical); // IE6-9
	@include background-image(linear-gradient(top, $mainContentColorTop 0%, $mainContentColorBottom 95%));
}

.mainButton
{
	width: 90%;
	margin: 0 auto;
	margin-bottom: .5em;
	border: 2px solid $mainColor;

	a, span
	{
		width: 100%;
		text-decoration: none;
		@include transition-duration(.5s);
		display: inline-block;
		font-family: Arial;
		font-size: 1.5em;
		color: $unselected;
		padding-top: .5em;
		padding-bottom: .5em;
		@include box-shadow($shadowColor 2px 2px 5px);
		@include box-shadow($shadowColor 2px 2px 5px);
		background-color: lighten($mainColor, 20%); // Old browsers
		@include filter-gradient($buttonTop, $mainColor, vertical); // IE6-9
		@include background-image(linear-gradient(top, rgba($buttonTop, .8) 0%,  rgba(desaturate(lighten($mainColor, 38%) ,60%), .8) 15%,
			rgba(desaturate(lighten($mainColor, 15%) ,20%), .8) 50%, rgba($mainColor, .8) 100%));

		&:hover
		{
			color: $selected;
			background-color: $mainColor;
		}
	}

	a:after
	{
		font-family: 'icomoon';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		content: "	\e003"
	}
}

.button
{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	@include button($buttonColor);
	color: white;
	font-size: 1.5em;
	font-family: Arial;
	padding: .5em;
	@include box-shadow(rgba(0,0,0,.8) 0px 0px 4px);

	p
	{
		text-align: center;
	}
}

.sideBox
{
	width: 90%;
	margin: 0 auto;
	border: 2px solid $mainColor;
	@include box-shadow($shadowColor 2px 2px 5px);
	background-color: rgb(210,213,217); // Old browsers
	@include filter-gradient(#d2d5d9, #d2d5d9, vertical); // IE6-9
	@include background-image(linear-gradient(top, rgba(210,213,217,1) 0%,rgba(210,218,224,1) 51%,rgba(210,213,217,1) 100%));
	
	.button
	{
		margin-top: 1em;
		margin-bottom: 1em;
	}
}

@media screen and (min-width: 40em)
{

	#mainContent
	{
		padding-top: 3em;
	}

	#headContainer
	{
		width: 100%;
		max-width: 960px;
		margin: 0px auto;
	}

	#logo
	{
		float: left;
		width: 26%;
	}

	#socialLinks
	{
		margin-top: .5em;
		margin-bottom: .5em;
		text-align: right;
		width: 100%;
	}


}